<!DOCTYPE html>
<html lang="en">
<body>
<a th:href="@{'/organiser/1/events'}">org 1 events</a>
<br>
<a th:href="@{'/organiser/2/events'}">org 2 events</a>
<br>
<a th:href="@{'/events'}">get all events</a>
<br>
<a th:href="@{'/registrations/event/1'}">reg for event 1</a>
<br>
<a th:href="@{'/registrations/event/2'}">reg for event 2</a>
<br>
<a th:href="@{'/registrations/user/1'}">reg for user 1</a>
<br>
<a th:href="@{'/registrations/user/2'}">reg for user 2</a>
<br>
<a th:href="@{'/users'}">get all users</a>
<br>
<a th:href="@{'/users/1'}">get user 1</a>
<br>
<a th:href="@{'/users/2'}">get user 2</a>
<br>
<a th:href="@{'/users/1/attendingEvents'}">get user 1 attending events</a>
<br>
<a th:href="@{'/users/2/attendingEvents'}">get user 2 attending events</a>
<br>
<a th:href="@{'/users/1/organizedEvents'}">get user 1 organized events</a>
<br>
<a th:href="@{'/users/2/organizedEvents'}">get user 2 organized events</a>

</body>
</html>